<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --color-text-primary: #fefafa;
  --color-text-secondary: #8A8F98;
  --color-text-alert: #d72641;
  --color-text-icon: #dbdade;
  --color-bg-primary: rgb(77, 75, 75);
  --color-bg-secondary: #1f2022;
  --color-bg-alert: #fdeaec;
  --color-theme-primary: #e63c3f;
}
button,
input,
select,
textarea {
  font: inherit;
}
img {
  display: block;
  border-radius: 40px;
}
strong {
  font-weight: 600;
}
/* html,
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
} */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
}
.match {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  min-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
}
.match-header {
  display: flex;
  border-bottom: 2px solid rgba(48, 48, 48, 0.1);
  padding: 16px;
}
.match-status {
  background-color: var(--color-bg-alert);
  color: var(--color-text-alert);
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-right: auto;
}
.match-status:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
  margin-right: 8px;
}
.match-tournament {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.match-tournament img {
  width: 20px;
  margin-right: 12px;
}
.match-actions {
  display: flex;
  margin-left: auto;
}
.btn-icon {
  border: 0;
  background-color: transparent;
  color: var(--color-text-icon);
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-content {
  display: flex;
  position: relative;
}
.column {
  padding: 32px;
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15), 0 0 0 15px var(--color-bg-secondary);
}
.team-logo img {
  width: 50px;
}
.team-name {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
}
.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-date, .match-referee {
  font-size: 14px;
  color: var(--color-text-secondary);
}
.match-date strong, .match-referee strong {
  color: var(--color-text-primary);
}
.match-score {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.match-score-number {
  font-size: 120%;
  font-weight: 600;
  line-height: 1;
}
.match-score-number--leading {
  color: var(--color-theme-primary);
}
.match-score-divider {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-icon);
  margin-left: 10px;
  margin-right: 10px;
}
.match-time-lapsed {
  color: #DF9443;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}
.match-referee {
  margin-top: 12px;
}
.match-bet-options {
  display: flex;
  margin-top: 8px;
  padding-bottom: 12px;
}
.match-bet-option {
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid var(--color-text-icon);
  background-color: #F9f9f9;
  border-radius: 2px;
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
}
.match-bet-place {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  background-color: var(--color-theme-primary);
  border-radius: 6px;
  padding: 10px 48px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(48, 48, 48, 0.25);
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .match-content {

    flex-direction: column;
  }
  .match-score-number {
    font-size: 90%;
    font-weight: 700;
    line-height: 0.25;

}
.column{
  padding: 20px;
  width: 100%;
}
.team-name {
    font-size: 100%;
}
.match-tournament {
    font-size: 12px;
}
.column:nth-of-type(1) { order: 1; }
.column:nth-of-type(2) { order: 3; }
.column:nth-of-type(3) { order: 2; }

}
.container {
    
    margin-top: 50%;
}
.match-status {
  overflow:hidden;
}


#TID{
    font-size: 0px;
}
.SocketButton{
    visibility: hidden;
    height: 0;
    width: 0;
}
.player1id{
  visibility: hidden;
  height: 0;
  width: 0;
}
.player2id{
  visibility: hidden;
  height: 0;
  width: 0;
}
    </style>
</head>
<body>
    <div class="container">
        <!-- code here -->
        <div class="match">
            <div class="match-header">
                <div class="match-status">Live</div>
                <div class="match-tournament"><%=TOURNAMENT_NAME%> - Match  - </div>
                <div class="match-tournament" id="MATCHID"> <%=MATCHID%></div>
                <div class="TID" id="TID"><%=TOURNAMENT_ID%></div>
                <div class="match-actions">
                    <!-- <button class="btn-icon"><i class="material-icons-outlined">grade</i></button>
                    <button class="btn-icon"><i class="material-icons-outlined">add_alert</i></button> -->
                </div>
            </div>
            <div class="match-content">
                <div class="column">
                    <div class="team team--home">
                        <div class="team-logo">
                            <img src="https://assets.codepen.io/285131/whufc.svg" alt="No Pic" class="player1"/>
                        </div>
                        <h2 class="team-name pl1"><%=PLAYER1%><span>(Player 1)</span></h2>
                    </div>
                </div>
                <div class="column">
                    <div class="match-details">
                        <!-- <div class="match-date">
                            12 Aug at <strong>19:00</strong>
                        </div> -->
                        <div class="match-score">
                          <span class="match-score-number match-score-number--leading" id="pl1name">Player 1</span>
                          <span class="match-score-divider">:</span>
                          <span class="match-score-number" id="pl2name">Player 2</span>
                      </div>
                        <div class="match-score">
                            <span class="match-score-number match-score-number--leading" id="pl1s1"><%=PLAYER1_SCORE.set1%></span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number" id="pl2s1"><%=PLAYER2_SCORE.set1%></span>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number match-score-number--leading" id="pl1s2"><%=PLAYER1_SCORE.set2%></span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number" id="pl2s2"><%=PLAYER2_SCORE.set2%></span>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number match-score-number--leading" id="pl1s3"><%=PLAYER1_SCORE.set3%></span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number" id="pl2s3"><%=PLAYER2_SCORE.set3%></span>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number match-score-number--leading" id="pl1s4"><%=PLAYER1_SCORE.set4%></span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number" id="pl2s4"><%=PLAYER2_SCORE.set4%></span>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number match-score-number--leading" id="pl1s5"><%=PLAYER1_SCORE.set5%></span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number" id="pl2s4"><%=PLAYER2_SCORE.set5%></span>
                        </div>
                        <div class="match-time-lapsed">
                            Sport: Badminton
                        </div>
                        <div class="match-referee">
                            Platform: <strong>Ardent Sports</strong>
                        </div>
                        <div class="match-bet-options">
                            <button class="match-bet-option"></button>
                            <button class="match-bet-option"></button>
                            <button class="match-bet-option"></button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="team team--away">
                        <div class="team-logo">
                            <img src="https://assets.codepen.io/285131/chelsea.svg" class="player2"/>
                        </div>
                        <h2 class="team-name pl2"><%=PLAYER2%><span>(Player 1)</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="SocketButton"></div>
    </div>
    <div class="player1id"><%=PLAYER1%></div>
    <div class="player2id"><%=PLAYER2%></div>
    <!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        var socket = io()
        const roomname = $("#TID").text() + $("#MATCHID").text()
        console.log(`Expected Roomname ${roomname}`)
        const sktButton = document.querySelector('.SocketButton')
        socket.on("connect",()=>{
            sktButton.addEventListener('click',()=>{
            console.log(socket.id)
            socket.emit('join-room',JSON.stringify({
                TOURNAMENT_ID:`${$("#TID").text()}`,
                MATCHID:`${parseInt($("#MATCHID").text()) - 1}`
            }))
            socket.on('joined-room',(data)=>{
            console.log('Joined Match')
        })
        socket.on('score-updated',(ndata)=>{
            console.log(ndata)
            const data = JSON.parse(ndata)
            if(data.set=="1"){
                $('#pl1s1').text(data.PLAYER_1_SCORE)
                $('#pl2s1').text(data.PLAYER_2_SCORE)
            }
            else if(data.set=="2"){
                $('#pl1s2').text(data.PLAYER_1_SCORE)
                $('#pl2s2').text(data.PLAYER_2_SCORE)
            }
            else if(data.set=="3"){
                $('#pl1s3').text(data.PLAYER_1_SCORE)
                $('#pl2s3').text(data.PLAYER_2_SCORE)
            }
            else if(data.set=="4"){
                $('#pl1s4').text(data.PLAYER_1_SCORE)
                $('#pl2s4').text(data.PLAYER_2_SCORE)
            }
            else if(data.set=="5"){
                $('#pl1s5').text(data.PLAYER_1_SCORE)
                $('#pl2s5').text(data.PLAYER_2_SCORE)
            }
        })
        })
        sktButton.click()
        })
        $(window).load(async function(){
          if($('.player2id').text()=='Not Booked'&&$('.player1id').text()!='Not Booked'){
            const pl1 = await fetch(`http://52.66.209.218:3000/userDetails?USERID=${$('.player1id').text()}`)
            const dat1 = await pl1.json()
            if(dat1){
            console.log(dat1)
            $('.team-name.pl1').text(`${dat1.Name} (Player 1)`)
            $('.player1').attr('src',dat1.Profile_pic_url)
          }  
          }
          else if($('.player1id').text()=='Not Booked'&&$('.player2id').text()!='Not Booked'){
            const pl2 = await fetch(`http://52.66.209.218:3000/userDetails?USERID=${$('.player2id').text()}`)
            const dat2 = await pl2.json()
            if(dat2){
            console.log(dat2)
            $('.team-name.pl2').text(`${dat2.Name} (Player 2)`)
            $('.player2').attr('src',dat2.Profile_pic_url)
          }
          }
          else if($('.player1id').text()!='Not Booked'&&$('.player2id').text()!='Not Booked'){
            const pl1 = await fetch(`http://52.66.209.218:3000/userDetails?USERID=${$('.player1id').text()}`)
            const pl2 = await fetch(`http://52.66.209.218:3000/userDetails?USERID=${$('.player2id').text()}`)
            const dat1 = await pl1.json()
            const dat2 = await pl2.json()
            if(dat1){
              console.log(dat1)
              $('.team-name.pl1').text(`${dat1.Name}`)
              $('.player1').attr('src',dat1.Profile_pic_url)
              $('#pl1name').text(`${dat1.Name}`)
            }
            if(dat2){
              console.log(dat2)
              $('.team-name.pl2').text(`${dat2.Name}`)
              $('.player2').attr('src',dat2.Profile_pic_url)
              $('#pl2name').text(`${dat2.Name}`)
            }
          }
        })
    </script>
</body>
</html>
